/* prevents weird spacing on page */
* {
    margin: 0;
}
body {
    background-color: #333333;
    /* font styling here */

}

/*
 *
 * HEADER
 *
 */








/* styles the score */
/* allows score label and score itself to be horizontal */
.scoreContainer {
    color: white;
    display: flex;
    align-items: center;
}
.score {
    color: #E98300;
    font-size: 36px;
    margin-left: 15px;
}

/* styles the time left */
/* allows time label and time itself to be horizontal */
.timeContainer {
    color: white;
    display: flex;
    align-items: center;
}
.time {
    color: #E98300;
    font-size: 36px;
    margin-left: 15px;
}

/*
 *
 * TEST
 *
 */

/* styles the word that will be typed */
.testContainer {
    width: auto;
    height: 75vh;
    align-content: center;
    text-align: center;
}
/* styles tested word */
.test {
    font-size: 20vw;
    color: white;
}

/* usage in javascript */
/* used for correct letters */
.background {
    background-color: #E98300;
}