/* prevents weird spacing on page */
* {
    margin: 0;
}
body {
    background-color: #333333;
    /* font styling here */

}

/*
 *
 * HEADER
 *
 */

/* allows for content in header (aka intro and stats divs) to be horizontal */
.header {
    background-color: #484848;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* intro takes up 50% of the header */
.intro {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* changes instructions styling */
.instructions {
    padding: 25px;
    color: white;
    font-size: 24px;
}
/* changes START button styling */
.startBtn {
    background-color: #E98300;
    color: #333333;
    padding: 10px 40px 10px 40px; /* top right bottom left */
    font-size: 24px;
}

/* allows for score and time left components to be horizontal */
.stats {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

/* styles the score */
/* allows score label and score itself to be horizontal */
.scoreContainer {
    color: white;
    display: flex;
    align-items: center;
}
.score {
    color: #E98300;
    font-size: 36px;
    margin-left: 15px;
}

/* styles the time left */
/* allows time label and time itself to be horizontal */
.timeContainer {
    color: white;
    display: flex;
    align-items: center;
}
.time {
    color: #E98300;
    font-size: 36px;
    margin-left: 15px;
}

/*
 *
 * TEST
 *
 */

/* styles the word that will be typed */
.testContainer {
    width: auto;
    height: 75vh;
    align-content: center;
    text-align: center;
}
/* styles tested word */
.test {
    font-size: 20vw;
    color: white;
}

/* usage in javascript */
/* used for correct letters */
.background {
    background-color: #E98300;
}